@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300&subset=latin,latin-ext);
/**
 * NOTICE: This file is part of the Agnosia framework core.
 * Please don't modify this file unless you know exactly what you're doing.
 * Keep in mind that any modification to this file may be overwritten by future core updates.
 *
 * This file manages styles for Agnosia Basic style.
 * You can add or overwrite these styles via child themes.
 * 
 * @package Agnosia
 */
/* FONTS */
#content,
#tinymce {
  font-family: Georgia, 'Times New Roman', Tahoma, Arial, Verdana;
}
#content .pager .previous,
#tinymce .pager .previous,
#content .pager .next,
#tinymce .pager .next {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#content .pager .previous a,
#tinymce .pager .previous a,
#content .pager .next a,
#tinymce .pager .next a {
  padding: 0 15px;
}
#content .main,
#tinymce .main {
  padding-top: 15px;
  padding-bottom: 15px;
}
.extra-content {
  font-family: Georgia, 'Times New Roman', Tahoma, Arial, Verdana;
}
nav .extra.widget {
  margin-bottom: 30px;
}
nav .extra.widget h1,
nav .extra.widget h2,
nav .extra.widget h3 {
  text-transform: lowercase;
  padding: 0 15px 0 15px;
}
nav .extra.widget h1 a,
nav .extra.widget h2 a,
nav .extra.widget h3 a {
  color: #333333;
}
nav .extra.widget ul {
  list-style: none;
  margin: 0;
}
nav .extra.widget ul .children li {
  border: none;
}
nav .extra.widget ul li {
  border-top: 1px dotted #d4d4d4;
  padding: 5px 15px;
}
nav .extra.widget ul li {
  line-height: 30px;
}
nav .extra.widget .navbar-search {
  float: none;
}
nav .extra.widget .navbar-search input {
  width: auto;
  width: -webkit-available;
  width: -moz-available;
  width: -ms-available;
  width: -o-available;
  width: available;
}
nav .extra.widget.widget_calendar h2 {
  border-bottom: 1px dotted #d4d4d4;
  padding-bottom: 10px;
}
nav .extra.widget #calendar_wrap {
  padding: 0 10px 10px;
}
nav .extra.widget.widget_tag_cloud h2 {
  border-bottom: 1px dotted #d4d4d4;
  padding-bottom: 10px;
}
nav .extra.widget .tagcloud {
  padding: 0 15px 10px;
}
nav .extra.widget select {
  width: auto;
  width: -webkit-available;
  width: -moz-available;
  width: -ms-available;
  width: -o-available;
  width: available;
}
nav .extra.widget select[name="archive-dropdown"],
nav .extra.widget select.postform {
  margin: 10px 15px;
}
nav .extra.widget.widget_text h2 {
  border-bottom: 1px dotted #d4d4d4;
  padding-bottom: 10px;
}
nav .extra.widget .textwidget {
  padding: 0 15px 10px;
}
nav .extra.widget li .rsswidget {
  font-family: 'KameronBold', Georgia, 'Times New Roman', Tahoma, Arial, Verdana;
  font-weight: normal;
  display: block;
  font-size: 16px;
}
nav .extra.widget li .rss-date,
nav .extra.widget li cite {
  display: block;
  font-weight: bold;
}
h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
#single-branding-text h1,
#primary-branding-text h1,
#secondary-branding-text h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
#single-branding-text h1 {
  font-size: 32px;
}
#single-branding-text h2,
#primary-branding-text h2,
#secondary-branding-text h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
#top-navbar h1,
#header-navbar h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
#top-navbar .brand,
#header-navbar .brand {
  padding: 0 20px;
}
#top-navbar .brand h1,
#header-navbar .brand h1 {
  font-size: 15px;
}
#site-description {
  font-family: Georgia, 'Times New Roman', Tahoma, Arial, Verdana;
}
footer#footer {
  font-family: Georgia, 'Times New Roman', Tahoma, Arial, Verdana;
  background-color: #333333;
  border-top: none;
  color: #dedede;
}
footer#footer li {
  border-color: #777777;
}
footer#footer a {
  color: #777777;
}
article.sticky {
  border-top: 5px solid #0081c2;
  padding-top: 10px;
}
article.gallery .post-thumbnail img:first-child {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
article.video .entry {
  overflow: inherit;
}
article.video embed:first-child {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}
article.video iframe {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}
article.image p:empty {
  display: none;
}
article.image .entry {
  overflow: inherit;
}
article.image img:first-child {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
article.image .wp-caption {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #ededed;
  line-height: 20px;
}
article.image .wp-caption img:first-child {
  box-shadow: none;
  margin: 0;
}
article.image .wp-caption .wp-caption-dt {
  font-weight: normal;
  padding: 5px 0;
}
article.chat .entry {
  overflow: inherit;
  padding: 0;
}
article.chat pre p {
  line-height: normal;
  margin: 0;
  padding: 0;
}
article.quote .entry {
  padding: 0;
}
article header {
  margin-top: 0;
  padding: 0;
}
article header h2 a {
  color: #333333;
}
article header h2 a:hover {
  color: #333333;
  text-decoration: none;
}
article header .info.top.no-meta {
  border-bottom: 1px solid #ededed;
}
article header .author {
  color: #777777;
  font-size: 18px;
  padding-bottom: 10px;
}
article header .metadata {
  border-top: 1px solid #ededed;
  padding: 5px 0;
}
article header .metadata .top {
  padding-top: 10px;
}
article header .gravatar + h2 {
  line-height: 36px;
  margin-bottom: 0;
}
article header .gravatar + h2 + .info .author {
  padding-bottom: 5px;
}
article header .gravatar + h2 + .info .metadata {
  padding-top: 0;
}
article + hr {
  border-top: 5px solid #ededed;
}
article footer {
  border-top: 1px solid #ededed;
  padding: 15px 0 0;
}
article footer .metadata section {
  float: left;
}
article footer .metadata section.permalink {
  float: right;
}
article .entry:empty {
  display: none;
}
article .metadata.top section,
article .metadata.bottom section {
  margin-right: 15px;
}
article .metadata section:before {
  background-image: url("../img/glyphicons-halflings.png");
  content: "";
  float: left;
  height: 16px;
  line-height: 30px;
  margin-right: 5px;
  margin-top: 7px;
  position: relative;
  width: 16px;
}
article .metadata section.author:before {
  background-position: -167px 0;
}
article .metadata section.date:before {
  background-position: 278px 63px;
}
article .metadata section.comments:before {
  background-position: 229px 63px;
}
article .metadata section.tags:before {
  background-position: -24px -47px;
}
article .metadata section.categories:before {
  background-position: 60px 63px;
}
article .metadata section.permalink:before {
  background-position: -71px 15px;
}
article .edit-entry:before {
  background-image: url("../img/glyphicons-halflings.png");
  content: "";
  float: left;
  height: 16px;
  line-height: 30px;
  margin-right: 5px;
  margin-top: 7px;
  position: relative;
  width: 16px;
  background-position: 0 -72px;
}
p,
.info,
.edit-entry,
.content ul li,
.content ol li,
#footer ul li,
#footer ol li,
.content ul li,
.content ol li {
  line-height: 30px;
  font-family: Georgia, 'Times New Roman', Tahoma, Arial, Verdana;
}
blockquote {
  border-bottom: 1px solid #ededed;
  border-left: medium none;
  border-top: 1px solid #ededed;
  color: #333333;
  font-style: italic;
  overflow: hidden;
  padding: 15px;
}
blockquote p {
  clear: both;
  float: left;
  font-size: 16px;
  line-height: 26px;
  margin: 5px 0;
  padding-left: 36px;
  padding-right: 15px;
}
blockquote p:first-child {
  margin: 5px auto 5px;
}
blockquote:before {
  content: "“";
  float: left;
  font-size: 48px;
  left: 15px;
  margin: 9px 5px 0 0;
  position: absolute;
}
blockquote cite {
  clear: both;
  display: block;
  text-align: right;
  padding: 15px 0 0;
}
blockquote cite:before {
  content: "— ";
}
#authorarea {
  background: none;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 10px 15px;
  margin: 30px 0;
  overflow: hidden;
}
#authorarea .gravatar {
  float: left;
}
#authorarea .gravatar img {
  margin-top: 5px;
}
#authorarea .authorinfo {
  margin-left: 96px;
  padding-left: 15px;
}
#authorarea .authorinfo h3 {
  font-size: 24px;
  line-height: normal;
  margin: 0;
}
#authorarea .authorinfo h3 a {
  color: #333333;
}
#authorarea .authorinfo h3 a:hover {
  text-decoration: none;
}
#post-navigation-bottom {
  margin: 30px 0;
}
.commentlist {
  list-style: none;
  margin: 0;
}
.commentlist ul {
  list-style: none;
}
.commentlist .comment-body {
  clear: both;
  margin: 30px 0;
}
.commentlist .vcard {
  float: left;
  margin: 10px 25px 10px 0;
}
.commentlist .vcard img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.commentlist .vcard .fn {
  font-size: 22px;
  font-family: 'KameronBold', Georgia, 'Times New Roman', Tahoma, Arial, Verdana;
  font-weight: normal;
  margin-left: 20px;
}
.commentlist .vcard .fn a {
  color: #333333;
}
.commentlist .vcard .fn a:hover {
  text-decoration: none;
}
.commentlist .vcard .says {
  display: none;
}
.commentlist .comment-meta {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: normal;
  margin-top: 18px;
}
.commentlist .comment-meta a {
  border-bottom: 1px solid #ededed;
}
.commentlist .comment-meta a:hover {
  border-bottom: 1px solid #005580;
  text-decoration: none;
}
.commentlist .comment-text {
  border: 1px solid #ededed;
  clear: both;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px 0;
  padding: 10px 15px;
}
.commentlist .comment-text p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.commentlist .reply {
  float: right;
}
.commentlist .reply .comment-reply-link:before {
  background-image: url("../img/glyphicons-halflings.png");
  content: "";
  float: left;
  height: 16px;
  line-height: 30px;
  margin-right: 5px;
  margin-top: 7px;
  position: relative;
  width: 16px;
  background-position: 229px 63px;
  margin-top: 3px;
}
#commentform {
  margin-bottom: 60px;
  position: relative;
}
#commentform input[type="text"],
#commentform textarea {
  width: auto;
  width: -webkit-available;
  width: -moz-available;
  width: -ms-available;
  width: -o-available;
  width: available;
}
#commentform .form-allowed-tags {
  margin-bottom: 20px;
}
#credits {
  font-family: Georgia, 'Times New Roman', Tahoma, Arial, Verdana;
  background-color: #111;
  color: #ffffff;
  font-size: 11px;
  padding: 15px;
  text-align: right;
}
#credits .agnosia {
  font-family: 'Lobster13Regular', 'KameronBold', Georgia, 'Times New Roman', Tahoma, Arial, Verdana;
  font-weight: normal;
  text-transform: lowercase;
  font-size: 14px;
}
.btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.post-thumbnail img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.page-header {
  border-bottom: none;
  margin: 0;
  padding-bottom: 0;
}
body.custom-background.wrap-with-container header#header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
body.custom-background.wrap-with-container footer#footer {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
body.custom-background.wrap-with-container .main {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
body.custom-background.wrap-header #header-wrap {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
body.custom-background.wrap-header footer#footer {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
body.custom-background.wrap-footer #footer-wrap {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
body.custom-background.wrap-footer header#header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
body.custom-background.wrap-both #global-wrap {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}
body.small article footer .metadata section.permalink {
  float: left;
}
body.small article .gravatar {
  display: none;
}
body.small article .gravatar + h2 {
  line-height: normal;
  margin-bottom: 0;
  margin-left: 0;
}
body.small article .gravatar + h2 + .info {
  margin-left: 0;
}
body.small article .gravatar + h2 + .info .author {
  padding-bottom: 5px;
}
body.small article .gravatar + h2 + .info .metadata {
  padding-top: 0;
}
body.small #header #branding .brand,
body.medium #header #branding .brand {
  margin: 0px 0px 5px;
}
body.small #header #branding .navbar-inner .container,
body.medium #header #branding .navbar-inner .container {
  padding: 10px 0;
}
.Box {
  background: none;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 10px 15px;
}
.Glyph {
  background-image: url("../img/glyphicons-halflings.png");
  content: "";
  float: left;
  height: 16px;
  line-height: 30px;
  margin-right: 5px;
  margin-top: 7px;
  position: relative;
  width: 16px;
}
.Square {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
